/**Pour le Navbar**/
.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar>.container .navbar-brand{
  margin-left: 0;
}

.navbar-brand {
  padding: 0;
  margin:0;
}

.navbar-header a.navbar-brand {
   color:#fff;
   font-family:'Roboto';
}

.navbar-header a.navbar-brand:hover{
   color:#fff;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #2bb8ff;
  padding: 21px 0;
  padding-bottom: 0;
}

.navbar-nav{
  margin-top: 12px;
 }

.navbar-nav>li{
  margin-left: 20px;
  padding-bottom: 28px;
}

.navbar-fixed-top .navbar-nav > li > a {
  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #ffd;
  line-height: 24px;
  display: inline-block;
  text-transform:;
  font-weight:500;
  font-size:18px;
  font-family:'Roboto';
}

.navbar-fixed-top .navbar-nav > li > a:hover{
  background: #0BA9F9;  
  color:#fff;
}

.navbar-fixed-top {
  border: none;
  background: #0BA9F9;
}

.navbar-fixed-top .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

.navbar-fixed-top .navbar-nav > .active > a,
.navbar-fixed-top .navbar-nav > .active > a:hover,
.navbar-fixed-top .navbar-nav > .active > a:focus,
.navbar-fixed-top .navbar-nav > .open > a,
.navbar-fixed-top .navbar-nav > .open > a:hover,
.navbar-fixed-top .navbar-nav > .open > a:focus {
  background-color: #2bb8ff;
  color: #fff;
}
/**Pour le Caroussel**/
.slider {
	position: relative;	
	padding-top:70px;
}

.slider img {
    width: 100%;
}

#carousel-slider {
  position: relative;
}

#carousel-slider .carousel-indicators {
  bottom: -25px;
}

#carousel-slider .carousel-indicators li {
  border: 1px solid #ffbd20;
}

#carousel-slider a i {
  border: 1px solid #fff;
  border-radius:50%;
  font-size: 30px;
  height: 50px;
  padding: 8px;
  position: absolute;
  top: 50%;
  width: 50px;
  color:#fff;
}

#carousel-slider a i:hover {
  background:#0BA9F9;
  color:#fff;
  border: 1px solid #0BA9F9;
}

#carousel-slider 
.carousel-control {
  width:inherit;
}

#carousel-slider .carousel-control.left i {
  left:40px;
  top: calc(50% - 25px);
}

#carousel-slider .carousel-control.right i {
  right: 40px;
  top: calc(50% - 25px);
}

#carousel-slider
.carousel-control.left, 
#carousel-slider
.carousel-control.right {
  background: none;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  top: calc(50% - 150px);
  font-size:40px;
  left: 15%;
  z-index: 10;
  padding-bottom: 0px;
  color: #fff;
  text-align: center;
}

.carousel-caption  h2 {
	font-size:60px;
	color: #0BA9F9;
}

.carousel-caption  h2 span {
	font-size:60px;
	color: #fff;
}

.carousel-caption  p {
  font-size:30px;
  margin-top:30px;
  color:#fff;
}
/*****************************************************************************
*                             Pour la gallerie                             *
****************************************************************************
*/
#gallery {
  padding-top:70px;
  padding-bottom:70px;
  background:#f4f4f4;
}
#gallery img {
  border-radius:8px;
}

.gallery {
  margin-top:60px;
  margin-bottom:30px;
}

#gallery .text-center {
  padding-top:20px;
  margin-bottom:50px;
  padding-bottom:20px;
}

figure.effect-chico img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}

figure.effect-chico:hover img {
  opacity: 0.5;
  -webkit-transform: scale(1);
  transform: scale(1);
}
